<% layout('layouts/boilerplate') %>
<div class="row mt-3">
    <div class="col-8 offset-2"  >
    <h1>Edit Listing</h1>

    <form method="POST" enctype="multipart/form-data" action="/listing/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">

        <div class="mb-3">
            <label class="form-label">Title:</label>
            <input type="text" class="form-control" name="listing[title]" value="<%= listing.title %>">
    <div class="valid-feedback">
        Title Looks good!
    </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Description:</label>
            <textarea type="text" class="form-control" name="listing[description]"><%= listing.description %></textarea>
        <div class="invalid-feedback">
            Please enter a description.
        </div>
        </div>
<div class="mb-3">
    <h3>Original Image</h3>
    <img src="<%= originameImageUrl %>" class="img-thumbnail" alt="...">
    <!-- <img  src="<%= originameImageUrl %>"> -->
</div>
        <div class="mb-3">
            <label class="form-label">New Image</label>
            <input  type="file" class="form-control" name="listing[image]" value="<%= listing.image.url %>">
     
        </div>

        <div class="mb-3">
            <label class="form-label">Price:</label>
            <input type="number" class="form-control" name="listing[price]" value="<%= listing.price %>">
    <div class="invalid-feedback">
        Please enter a Price.
    </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Location:</label>
            <input type="text" class="form-control" name="listing[location]" value="<%= listing.location %>">
    <div class="invalid-feedback">
        Please enter Location.
    </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Country:</label>
            <input type="text" class="form-control" name="listing[country]" value="<%= listing.country %>">
    <div class="invalid-feedback">
        Please enter Country.
    </div>
        </div>
        <!-- category -->
        <div class="mb-2">
            <label for="category" class="form-label">Select Category</label>
            <select class="mt-2" id="category" name="listing[category]">
                <option>Mountain-city</option>
                <option>Mountain</option>
                <option>Pools</option>
                <option>Camping</option>
                <option>Farms</option>
                <option>Castles</option>
                <option>Arctic</option>
                <option>Boats</option>
                <option>Camper Vans</option>
            </select>


        <button class="btn btn-danger m-2" type="submit">Update Listing</button>
    </form>
</div>
<script src="/js/script.js"></script>
</div>